# outputs (adjust if you ever commit media)
*.log

# local config / secrets
*.env
*.key
*.pem
*.secret
**/config.py
**/config.ps1
**/config.sh
**/*rc.local.py

# temp / junk
*.tmp
*.bak
Thumbs.db
Desktop.ini
.DS_Store

# editors
*.swp
*.swo
*.swn

# shell / system
.bash_history
.ssh/

# python
__pycache__/
*.pyc

# node (future)
node_modules/

# Vim runtime/state
.config/vim/viminfo
.config/vim/backup/
.config/vim/swap/
.config/vim/undo/

# Private Wi-Fi config
.config/wifi-menu/wifirc
