# Allow members of the video group to query the Raspberry Pi firmware
# command interface with vcgencmd.
SUBSYSTEM=="misc", KERNEL=="vcio_gencmd", GROUP="video", MODE="0660"
